#header{
color: rgb(13, 142, 47);
font-family:Verdana, Geneva, Tahoma, sans-serif
}

#foot{
   color: rgb(3, 117, 247);
}
.nav-menu{
color :rgb(242, 197, 93);
background-color: rgb(43, 119, 226);
font-family:Arial, Helvetica, sans-serif;
}
